.center {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  margin: auto;
  height: 100vh;
  margin-top: 5%;
}

.menu-spacer {
  width: 10%;
}

.logout {
  margin-left: 30%;
}
