<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>New Reservation</span>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <form [formGroup]="form" (ngSubmit)="checkAvailability()">
    <!-- <fa-icon matSuffix [icon]="faUser"></fa-icon> -->
    <mat-form-field appearance="fill" class="field">
      <mat-label>Pax</mat-label>
      <mat-select name="pax" formControlName="pax">
        <mat-option *ngFor="let num of pax" [value]="num">
          {{ num }}
        </mat-option>
      </mat-select>
      <mat-icon class="icon" matSuffix>face</mat-icon>
    </mat-form-field>

    <!-- <fa-icon [icon]="faCalendar"></fa-icon> -->
    <mat-form-field class="field" appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- <fa-icon [icon]="faClock"></fa-icon> -->
    <mat-form-field appearance="fill" class="field">
      <mat-label>Time</mat-label>
      <mat-select name="timeslotId" formControlName="timeslotId">
        <mat-option *ngFor="let timeslot of timeslots" [value]="timeslot.id">
          {{ timeslot.time }}
        </mat-option>
      </mat-select>
      <mat-icon class="icon" matSuffix>schedule</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Check Availability
    </button>
  </form>

  <mat-card>
    <div class="container">
      {{ successMessage }}
      {{ failMessage }}
    </div>
    <div class="button">
      <button
        mat-raised-button
        color="primary"
        *ngIf="successMessage"
        (click)="continue()"
      >
        Continue
      </button>
    </div>
  </mat-card>
</div>
